.about {
    display: flex;
    flex-direction: row;
}

.avatar {
    width: 100px;
    height: 100px;
}

@media (width <= 250px) {
    ul.about-item {
        width: 100%;
    }
}

@media (250px < width <= 325px) {
    ul.about-item {
        width: 80%;
    }
}

@media (325px < width <= 465px) {
    ul.about-item {
        width: 60%;
    }
}

@media (465px < width <= 540px) {
    ul.about-item {
        width: 40%;
    }
}

@media (width <= 540px) {
    .about {
        flex-direction: column;
    }

    img.about-item {
        margin-bottom: 10px;
        align-self: center;
    }

    .avatar {
        width: 128px;
        height: 128px;
    }

    ul.about-item {
        align-self: center;
    }

    ul.about-item:not(:last-child) {
        margin-bottom: 5px;
    }
}
