li:not(:last-child) {
    margin-bottom: 5px;
}

ul.ascii {
    list-style: "✻";
}

.ascii li {
    margin-left: 1em;
    padding-left: 1em;
}

.ascii a {
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 5px;
}
